@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@using QuickGrid.Services
@inject IDriverService DriverService
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<PageTitle>Home</PageTitle>

<h3>2024 Formula 1 Drivers</h3>

<QuickGrid Items="Drivers" Pagination="Pagination">
    <PropertyColumn Title="Name" Property="@(d => d.Name)" Sortable="true"/>
    <PropertyColumn Title="Country" Property="@(d => d.Country)" Sortable="true" />
    <PropertyColumn Title="Team" Property="@(d => d.Team)" Sortable="true" />
    <PropertyColumn Title="Date Of Birth" Property="@(d => d.DateOfBirth.ToString())" Sortable="true" />
</QuickGrid>
<Paginator State="Pagination"/>

@code {
    public IQueryable<Driver>? Drivers { get; set; } = null;
    public PaginationState Pagination { get; set; } = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        Drivers = DriverService.GetDrivers().AsQueryable();
        base.OnInitialized();
    }
}